<div root>
    <div>
        <div>
            <div>
                <img src="./assets/img/Logo_FC.png" />
            </div>
        </div>
        <div>
            <div>
                <img #contactButton src="./assets/img/mail.png" />
            </div>
            <div>
                <img #linkedinButton src="./assets/img/Linkelin.png" />
            </div>
        </div>
    </div>
    <div>
        <div>
            <img #homeButton src="./assets/img/bandeau_1.png" />
        </div>
        <!--a routerLink="/home" routerLinkActive="active">
            <img src="./assets/img/header.jpg" />
        </a-->
    </div>
</div>