//general
$color_background_default:#FFFFFF;
$border_radius:12px;

//structure.component
$min_width_body:800px;
$max_width_body:1200px;
$height_nav:200px;

//header.component
$width_picture_header:511px;
$height_picture_header:150px;
$width_big_button_header:372px;
$width_litle_button_header:50px;
$height_button_header:70px;

//footer.component
$height_footer:35px;

//work.component
$color_backround_work:#F4F4F4;
$color_background_button:#FFFFFF;

//contact.component
$color_background_form_contact:#F4F4F4;