<div root>
    <canvas #myCanvas>
    </canvas>
    <div>
        <div>
            <img #leftButton src="./assets/img/arrow.png" />
        </div>
        <div>
                <img #rightButton src="./assets/img/arrow.png" />
        </div>
    </div>
    <!--ul>
        <li *ngFor="let menuEntity of menuEntities">
            <a routerLink="{{ menuEntity.url}}" routerLinkActive="active">
                <img src="{{ menuEntity.img }}" alt="{{ menuEntity.title }}" >
            </a>
        </li>
    </ul-->
</div>