<div root>
    <div>
        <div>
            <h3><img src="./assets/img/picto_main.png" /> ACCUEIL</h3>
        </div>
    </div>
    <div>
        <div>
            <div>
                <h1>A PROPOS DE MOI <img src="./assets/img/picto_yeux.png" /></h1>
            </div>
            <div>
                <div>
                    <img src="./assets/img/bandeau_bas_home.png" />
                </div>
            </div>
            <div>
                <p>
                    <b>Développeur web</b> depuis 2007 j'ai commencé à travailler sur la technologie Flash/AS2 puis AS3 pour des agences de coms, boite de e-learning et de jeux vidéos (Ubisoft).<br/><br/>Depuis 3 ans je travaille sur les langages et technos html5, angular, symfony, three.js, tween.js et d'autre, pour des domaines comme l'industrie, startup, site marchand entre autre...
                </p>
            </div>
        </div>
    </div>
</div>